<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Länk till CSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!--Länk till javascript mobilmeny-->
    <script type="module" src="/js/menu.js"></script>
    <title>Om sidan | Ditt digitala CV</title>
</head>
</head>

<body>
    <!--Header med logotyp och knapp för att öppna mobilmeny-->
    <header>
        <!--Logotypen-->
        <a href="/">
            <img src="/icon.png" alt="Logotyp" id="logo">
        </a>
        <button id="btn-open">
            <span class="bars-menu">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="open-menu-text">
                Meny
            </span>
        </button>
        <nav id="main-nav">
            <button id="btn-close">
                <span class="bars-menu">
                    <span class="bars-cross1"></span>
                    <span class="bars-cross2"></span>
                </span>
                <span class="close-menu-text">
                    Meny
                </span>
            </button>
            <div class="center-menu">
                <ul>
                    <li><a href="/" class="menu-link" id="menu-underline">Startsida</a></li>
                    <li><a href="/course" class="menu-link">Lägg till kurs</a></li>
                    <li><a href="/about" class="menu-link ph-link">Om sidan</a></li>
                </ul>
            </div>
        </nav>
    </header>
        <!--Huvudinnehåll-->
    <main id="main">
        <h1>Om sidan</h1>
        <p>Webbplatsen är en uppgift i kursen <strong>DT207G - Backend-baserad webbutveckling</strong>. Webbplatsen
            kan spara in kurser som man har läst för att använda till ett digitalt CV eller kanske ännu bättre för att
            lagra intressanta kurser som användaren vill läsa.</p>
        <p>Webbplatsen lagrar formulär-data i en mariaDB-databas. Varje gång startsidan laddas så listas alla kurser från
            databasen upp. Det går att individuellt ta bort kurser från listan.</p>
        <p>Databasen CV innehåller enbart en tabell där data lagras individuellt för id, kurskod, kursnamn, länk till
            kurskod
            och kursprogression. Databasen byggdes upp efter ett följande ER-diagram:</p>
        <img src="/img/er.png" alt="ER-diagram för databasen CV">
        <h3>Utvecklingsmiljö</h3>
        <p>Jag har utvecklat i IDE'n Visual Studio Code. Uppgiften är skapad som 
        ett node.js project med följande dependencies:</p>
        <div id="list-format">
        <ul>
            <li>Server: Express</li>
            <li>Middleware: bodyParser</li>
            <li>Databas: mySQL</li>
            <li>Vyhanterare: ejs</li>
        </ul>
        </div>
        <p>Som databas-tillägg till node.js och Expresservern användes mySQL istället för det officiella mariaDB tillägget. Detta för att jag valde att byta host för min databas till <a href="https://heliohost.org">HelioHost</a> i sista sekund. HelioHost 
            använder mariaDB istället för mySQL. Eftersom mariaDB och mySQL är kompatibla med varandra valde jag att inte byta till mariaDB node.js paket.</p>
        <h2>Slutsatser</h2>
        <p>Uppgiften har gett mig större förståelse för Backend-baserad webbutveckling. Jag
             har fortfarande många frågetecken gällande metoder och inställningar av Expresservern. 
             Utvecklingen av att hämta och lagra data var enklare i denna Backend-baserade lösning än en 
             liknande lösning jag skapade i TypeScriptkursen(Frontend).
        </p>
        <p>Jag ser stora fördelar med Backend-baserad webbutveckling då vi får mer kontroll över säkerkerhet 
            och kan styra webbplatsen på ett bättre sätt. Det var också väldigt smidigt att jobba mot en mariaDB-databas.
        </p>
    </main>
    <footer>
        <p>Skapad av Markus Vickman för Moment 1 i DT207G - Backend-baserad webbutveckling</p>
    </footer>
</body>

</html>