<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Länk till CSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!--Länk till javascript mobilmeny-->
    <script type="module" src="/js/menu.js"></script>
    <title>Startsida</title>
</head>
<body>
        <!--Header med logotyp och knapp för att öppna mobilmeny-->
        <header>
            <!--Logotypen ändras vid temabyte och laddas in i sass partial _theme-->
            <a href="index.html">
                <div class="logo"></div>
            </a>
            <button id="btn-open">
                <span class="bars-menu">
                    <span class="bars"></span>
                    <span class="bars"></span>
                    <span class="bars"></span>
                </span>
                <span class="open-menu-text">
                    Meny
                </span>
            </button>
            <nav id="main-nav">
                <button id="btn-close">
                    <span class="bars-menu">
                        <span class="bars-cross1"></span>
                        <span class="bars-cross2"></span>
                    </span>
                    <span class="close-menu-text">
                        Meny
                    </span>
                </button>
                <div class="center-menu">
                    <ul>
                        <li><a href="/" class="menu-link" id="menu-underline">Startsida</a></li>
                        <li><a href="/course" class="menu-link">Lägg till kurs</a></li>
                        <li><a href="/about" class="menu-link ph-link">Om sidan</a></li>
                    </ul>
                </div>
            </nav>
        </header>
</body>
</html>